<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BetMapper">

    <resultMap id="Bet" type="com.lactaoen.ledger.model.Bet">
        <id property="betId" column="bet_id" />
        <result property="date" column="date" />
        <result property="memo" column="memo" />
        <result property="wager" column="wager" />
        <result property="profit" column="profit" />
        <association property="game" column="game_id" select="GameMapper.getGameById" />
        <association property="casino" column="casino_id" select="CasinoMapper.getCasinoById" />
    </resultMap>

    <select id="getAllBets" resultMap="Bet">
        SELECT /* BetMapper.getAllBets */
            bet_id, date, game_id, casino_id, wager, profit, memo
        FROM bet
    </select>

    <select id="getBetById" resultMap="Bet">
        SELECT /* BetMapper.getBetById */
            bet_id, date, game_id, casino_id, wager, profit, memo
        FROM bet
        WHERE bet_id = #{id}
    </select>

    <insert id="createBet">
        INSERT INTO /* BetMapper.createBet */
            bet
        (date, memo, wager, profit, game_id, casino_id)
        VALUES (
            #{date},
            #{memo},
            #{wager},
            #{profit},
            #{gameId},
            #{casinoId}
        )
    </insert>

    <update id="updateBet">
        UPDATE /* BetMapper.updateBet */
            bet
        SET
            date = #{date},
            memo = #{memo},
            wager = #{wager},
            profit = #{profit},
            game_id = #{gameId},
            casino_id = #{casinoId}
        WHERE bet_id = #{betId}
    </update>

    <delete id="deleteBet">
        DELETE FROM /* BetMapper.deleteBet */
            bet
        WHERE bet_id = #{id}
    </delete>

</mapper>