<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CasinoMapper">

    <resultMap id="Casino" type="com.lactaoen.ledger.model.Casino">
        <id property="casinoId" column="casino_id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="getAllCasinos" resultMap="Casino">
        SELECT /* CasinoMapper.getAllCasinos */
            casino_id, name
        FROM casino
        ORDER BY name
    </select>

    <select id="getCasinoById" resultMap="Casino">
        SELECT /* CasinoMapper.getCasinoById */
            casino_id, name
        FROM casino
        WHERE casino_id = #{id}
    </select>

    <insert id="createCasino">
        INSERT INTO /* CasinoMapper.createCasino */
            casino
        (name)
        VALUES (
            #{name}
        )
    </insert>

    <update id="updateCasino">
        UPDATE /* CasinoMapper.updateCasino */
            casino
        SET name = #{name}
        WHERE casino_id = #{casinoId}
    </update>

    <delete id="deleteCasino">
        DELETE FROM /* CasinoMapper.deleteCasino */
        casino
        WHERE casino_id = #{id}
    </delete>

</mapper>