<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">

    <resultMap id="Category" type="com.lactaoen.ledger.model.Category">
        <id property="categoryId" column="category_id" />
        <result property="name" column="name" />
        <result property="color" column="color" />
        <association property="parentCategory" column="parent_id" select="CategoryMapper.getCategoryById" />
    </resultMap>

    <select id="getAllCategories" resultMap="Category">
        SELECT /* CategoryMapper.getAllCategories */
            category_id, name, parent_id, color
        FROM category
    </select>

    <select id="getAllChildCategories" resultMap="Category">
        SELECT /* CategoryMapper.getAllChildCategories */
            category_id, name, parent_id, color
        FROM category
        WHERE parent_id IS NOT NULL
        ORDER BY name
    </select>

    <select id="getAllParentCategories" resultMap="Category">
        SELECT /* CategoryMapper.getAllParentCategories */
            category_id, name, parent_id, color
        FROM category
        WHERE parent_id IS NULL
        ORDER BY name
    </select>

    <select id="getCategoryById" resultMap="Category">
        SELECT /* CategoryMapper.getCategoryById */
            category_id, name, parent_id, color
        FROM category
        WHERE category_id = #{id}
    </select>

    <insert id="createCategory">
        INSERT INTO /* CategoryMapper.createCategory */
            category
        (name, parent_id, color)
        VALUES (
            #{name},
            #{parentId},
            #{color}
        )
    </insert>

    <update id="updateCategory">
        UPDATE /* CategoryMapper.updateCategory */
            category
        SET
            name = #{name},
            color = #{color},
            parent_id = #{parentId}
        WHERE category_id = #{categoryId}
    </update>

    <delete id="deleteCategory">
        DELETE FROM /* CategoryMapper.deleteCategory */
        category
        WHERE category_id = #{id}
    </delete>

</mapper>