<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DashboardMapper">

    <resultMap id="CategoryExpenseMapper" type="com.lactaoen.ledger.model.dashboard.CategoryExpenseMapper">
        <id property="categoryId" column="category_id" />
        <result property="categoryName" column="category_name" />
        <result property="transactionCount" column="transaction_count" />
        <result property="total" column="total" />
        <result property="averageSpent" column="average_spent" />
        <association property="parentCategory" column="parent_id" select="CategoryMapper.getCategoryById" />
    </resultMap>

    <select id="getCategoryExpensesByYear" resultMap="CategoryExpenseMapper">
        SELECT  /*DashboardMapper.getCategoryExpensesByYear */
            c.category_id,
            c.name AS category_name,
            COUNT(t.transaction_id) AS transaction_count,
            COALESCE(ROUND(SUM(t.price), 2), 0) AS total,
            COALESCE(ROUND(AVG(t.price), 2), 0) AS average_spent,
            c.parent_id
        FROM category c
        LEFT JOIN `transaction` t ON c.category_id = t.category_id AND YEAR(t.date) = #{id}
        WHERE c.parent_id IS NOT NULL
        GROUP BY c.category_id
        ORDER BY c.parent_id, c.category_id
    </select>

    <select id="getParentCategorySpendingByPeriodId" resultType="java.util.HashMap">
        SELECT /* DashboardMapper.getParentCategorySpendingByPeriodId */
            pc.name, pc.name, COALESCE(ROUND(SUM(a.total), 2), 0) AS total
        FROM
        period p
        JOIN allocation a ON p.period_id = a.period_id
        JOIN category c ON a.category_id = c.category_id
        JOIN category pc ON c.parent_id = pc.category_id
        WHERE p.period_id = #{id}
        GROUP BY pc.category_id
        ORDER BY pc.category_id
    </select>

</mapper>