<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GameMapper">

    <resultMap id="Game" type="com.lactaoen.ledger.model.Game">
        <id property="gameId" column="game_id" />
        <result property="name" column="name" />
        <result property="color" column="color" />
        <association property="parentGame" column="parent_id" select="GameMapper.getGameById" />
    </resultMap>

    <select id="getAllGames" resultMap="Game">
        SELECT /* GameMapper.getAllGames */
            game_id, name, parent_id, color
        FROM game
    </select>

    <select id="getPermissibleGames" resultMap="Game">
        SELECT /* GameMapper.getPermissibleGames */
            g.game_id, g.color, IF(g.parent_id IS NULL, g.name, CONCAT(COALESCE(pg.name,''), ' > ', g.name)) AS name
        FROM game g
        LEFT JOIN game lg ON g.game_id = lg.parent_id
        LEFT JOIN game pg ON g.parent_id = pg.game_id
        GROUP BY g.game_id HAVING COUNT(lg.game_id) = 0
        ORDER BY name
    </select>

    <select id="isSportsBet" resultType="java.lang.Boolean">
        SELECT /* GameMapper.isSportsBet */
            COUNT(kg.game_id) AS is_sports_bet
        FROM game g
        JOIN game kg ON g.game_id = kg.parent_id
        WHERE g.name = "Sports Betting"
        AND kg.game_id = #{id}
    </select>

    <select id="getGameById" resultMap="Game">
        SELECT /* GameMapper.getGameById */
            game_id, name, parent_id, color
        FROM game
        WHERE game_id = #{id}
    </select>

    <insert id="createGame">
        INSERT INTO /* GameMapper.createGame */
            game
        (name, parent_id, color)
        VALUES (
            #{name},
            #{parentId},
            #{color}
        )
    </insert>

    <update id="updateGame">
        UPDATE /* GameMapper.updateGame */
            game
        SET
            name = #{name},
            parent_id = #{parentId},
            color = #{color}
        WHERE game_id = #{gameId}
    </update>

    <delete id="deleteGame">
        DELETE FROM /* GameMapper.deleteGame */
        game
        WHERE game_id = #{id}
    </delete>

</mapper>