<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LibraryMapper">

    <resultMap id="Book" type="com.lactaoen.ledger.model.library.Book">
        <id property="bookId" column="book_id" />
        <result property="name" column="name" />
        <result property="status" column="status" />
        <collection property="chapters" column="book_id" select="LibraryMapper.getChaptersByBookId" />
    </resultMap>

    <resultMap id="Chapter" type="com.lactaoen.ledger.model.library.Chapter">
        <id property="chapterId" column="chapter_id" />
        <result property="bookId" column="book_id" />
        <result property="name" column="name" />
        <result property="isRead" column="is_read" />
        <result property="isExerciseDone" column="is_exercise_done" />
        <result property="isExerciseAdded" column="is_exercise_added" />
        <result property="isTodo" column="is_todo" />
        <collection property="words" column="chapter_id" select="LibraryMapper.getUnfinishedWordsByChapterId" />
    </resultMap>

    <resultMap id="Word" type="com.lactaoen.ledger.model.library.Word">
        <id property="wordId" column="word_id" />
        <result property="chapterId" column="chapter_id" />
        <result property="value" column="value" />
        <result property="isComplete" column="is_complete" />
        <result property="dateAdded" column="date_added" />
    </resultMap>

    <resultMap id="UnfinishedWord" type="com.lactaoen.ledger.model.library.UnfinishedWord">
        <id property="wordId" column="word_id" />
        <result property="chapterId" column="chapter_id" />
        <result property="value" column="value" />
        <result property="isComplete" column="is_complete" />
        <result property="dateAdded" column="date_added" />
        <result property="bookName" column="book_name" />
        <result property="chapterName" column="chapter_name" />
    </resultMap>

    <sql id="chapterFieldsFragment">
        chapter_id,
        book_id,
        name,
        is_read,
        is_exercise_done,
        is_exercise_added,
        is_todo
    </sql>

    <sql id="wordFieldsFragment">
        word_id,
        chapter_id,
        value,
        is_complete,
        date_added
    </sql>

    <select id="getChapterNameById" resultType="String">
        SELECT
            name
        FROM
            library.chapter
        WHERE
            chapter_id = #{id}
    </select>

    <select id="getAllBooks" resultMap="Book">
        SELECT
            book_id,
            name,
            status
        FROM
            library.book
    </select>

    <select id="getChaptersByBookId" resultMap="Chapter">
        SELECT
            <include refid="chapterFieldsFragment" />
        FROM
            library.chapter
        WHERE
            book_id = #{id}
    </select>

    <select id="getTodoChapters" resultMap="Chapter">
        SELECT
            <include refid="chapterFieldsFragment" />
        FROM
            library.chapter
        WHERE
            is_todo = 1
    </select>

    <select id="getUnfinishedWordsByChapterId" resultMap="Word">
        SELECT
            <include refid="wordFieldsFragment" />
        FROM
            library.word
        WHERE
            chapter_id = #{id}
        AND
           is_complete = 0
    </select>

    <select id="getAllUnfinishedWords" resultMap="UnfinishedWord">
        SELECT
            w.word_id,
            c.chapter_id,
            w.value,
            w.is_complete,
            w.date_added,
            c.name AS chapter_name,
            b.name AS book_name
        FROM
            library.word w
        JOIN
            library.chapter c ON w.chapter_id = c.chapter_id
        JOIN
            library.book b ON c.book_id = b.book_id
        WHERE
            is_complete = 0
        ORDER BY
            word_id ASC
    </select>

    <insert id="createBook" parameterType="com.lactaoen.ledger.model.library.Book" useGeneratedKeys="true" keyProperty="bookId">
        INSERT INTO
            library.book
        SET
            name = #{name}
    </insert>

    <insert id="createChapter" parameterType="com.lactaoen.ledger.model.library.Chapter">
        INSERT INTO
            library.chapter
        SET
            book_id = #{bookId},
            name = #{name}
    </insert>

    <insert id="createWord" parameterType="com.lactaoen.ledger.model.library.Word">
        INSERT INTO
            library.word
        SET
            chapter_id = #{chapterId},
            value = #{value}
    </insert>

    <update id="updateChapter" parameterType="com.lactaoen.ledger.model.form.ChapterUpdateForm">
        UPDATE
            library.chapter
        SET
        <choose>
           <when test="field == 'read'">
                is_read = #{value}
           </when>
            <when test="field == 'done'">
                is_exercise_done = #{value}
            </when>
            <when test="field == 'added'">
                is_exercise_added = #{value}
            </when>
            <when test="field == 'todo'">
                is_todo = #{value}
            </when>
        </choose>
        WHERE
            chapter_id = #{chapterId}
    </update>

    <update id="updateWord" parameterType="int">
        UPDATE
            library.word
        SET
            is_complete = 1,
            date_added = NOW()
        WHERE
            word_id = #{id}
    </update>

</mapper>