<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PeriodMapper">

    <resultMap id="Period" type="com.lactaoen.ledger.model.Period">
        <id property="periodId" column="period_id" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="total" column="total" />
        <collection property="allocationList" column="period_id" select="AllocationMapper.getAllocationsByPeriodId" />
        <collection property="transactionList" column="{startDate=start_date, endDate=end_date}" select="TransactionMapper.getTransactionsByDateRange" />
    </resultMap>

    <select id="getAllPeriods" resultMap="Period">
        SELECT /* PeriodMapper.getAllPeriods */
            period_id, start_date, end_date, total
        FROM period
    </select>

    <select id="getPeriodById" resultMap="Period">
        SELECT /* PeriodMapper.getPeriodById */
            period_id, start_date, end_date, total
        FROM period
        WHERE period_id = #{id}
    </select>

    <select id="getCurrentPeriod" resultMap="Period">
        SELECT /* PeriodMapper.getCurrentPeriod */
            period_id, start_date, end_date, total
        FROM period
        WHERE start_date &lt;= CURDATE()
        AND end_date &gt;= CURDATE()
        LIMIT 1
    </select>

    <select id="getLastPeriodId" resultType="java.lang.Integer">
        SELECT /* PeriodMapper.getLastPeriodId */
            MAX(period_id)
        FROM period
    </select>

    <insert id="createPeriod">
        INSERT INTO /* PeriodMapper.createPeriod */
            period
        (start_date, end_date, total)
        VALUES (
            #{startDate},
            #{endDate},
            #{total}
        )
    </insert>

    <update id="updatePeriod">
        UPDATE /* PeriodMapper.updatePeriod */
            period
        SET
            start_date = #{startDate},
            end_date = #{endDate},
            total = #{total}
        WHERE period_id = #{periodId}
    </update>

    <delete id="deletePeriod">
        DELETE FROM /* PeriodMapper.deletePeriod */
        period
        WHERE period_id = #{id}
    </delete>

</mapper>