<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SportsBetMapper">

    <resultMap id="SportsBet" type="com.lactaoen.ledger.model.SportsBet">
        <id property="betId" column="bet_id" />
        <result property="line" column="line" />
        <result property="odds" column="odds" />
        <result property="isLive" column="is_live" />
        <association property="betType" column="bet_type_id" select="SportsBetMapper.getBetTypeById" />
        <association property="gameType" column="game_type_id" select="SportsBetMapper.getGameTypeById" />
        <association property="forTeam" column="for_team_id" select="TeamMapper.getTeamById" />
        <association property="againstTeam" column="against_team_id" select="TeamMapper.getTeamById" />
    </resultMap>

    <resultMap id="BetType" type="com.lactaoen.ledger.model.BetType">
        <id property="betTypeId" column="bet_type_id" />
        <result property="name" column="name" />
    </resultMap>

    <resultMap id="GameType" type="com.lactaoen.ledger.model.GameType">
        <id property="gameTypeId" column="game_type_id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="getSportsBetByBetId" resultMap="SportsBet">
        SELECT /* SportsBetMapper.getSportsBetByBetId */
            bet_id, bet_type_id, game_type_id, for_team_id, against_team_id, line, odds, is_live
        FROM sports_bet
        WHERE bet_id = #{id}
    </select>

    <select id="getAllBetTypes" resultMap="BetType">
        SELECT /* SportsBetMapper.getAllBetTypes */
            bet_type_id, name
        FROM bet_type
    </select>

    <select id="getBetTypeById" resultMap="BetType">
        SELECT /* SportsBetMapper.getBetTypeById */
            bet_type_id, name
        FROM bet_type
        WHERE bet_type_id = #{id}
    </select>

    <select id="getAllGameTypes" resultMap="GameType">
        SELECT /* SportsBetMapper.getAllGameTypes */
            game_type_id, name
        FROM game_type
    </select>

    <select id="getGameTypeById" resultMap="GameType">
        SELECT /* SportsBetMapper.getGameTypeById */
            game_type_id, name
        FROM game_type
        WHERE game_type_id = #{id}
    </select>

    <insert id="createSportsBet">
        INSERT INTO /* SportsBetMapper.createSportsBet */
            sports_bet
        (bet_id, bet_type_id, game_type_id, for_team_id, against_team_id, line, odds, is_live)
        VALUES (
            #{betId},
            #{betTypeId},
            #{gameTypeId},
            #{forTeamId},
            #{againstTeamId},
            #{line},
            #{odds},
            #{isLive}
        )
    </insert>

    <update id="updateSportsBet">
        UPDATE /* SportsBetMapper.updateSportsBet */
            sports_bet
        SET
            bet_type_id = #{betTypeId},
            game_type_id = #{gameTypeId},
            for_team_id = #{forTeamId},
            against_team_id = #{againstTeamId},
            line = #{line},
            odds = #{odds},
            is_live = #{isLive}
        WHERE bet_id = #{betId}
    </update>

    <delete id="deleteSportsBet">
        DELETE /* SportsBetMapper.deleteSportsBet */
        FROM sports_bet
        WHERE bet_id = #{id}
    </delete>

</mapper>