<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeamMapper">

    <resultMap id="Team" type="com.lactaoen.ledger.model.Team">
        <id property="teamId" column="team_id" />
        <result property="location" column="location" />
        <result property="mascot" column="mascot" />
        <result property="abbreviation" column="abbreviation" />
        <association property="game" column="game_id" select="GameMapper.getGameById" />
    </resultMap>

    <select id="getTeamsByGameId" resultMap="Team">
        SELECT /* TeamMapper.getTeamsByGameId */
            team_id, location, mascot, abbreviation, game_id
        FROM team
        WHERE game_id = #{id}
        ORDER BY location
    </select>

    <select id="getTeamById" resultMap="Team">
        SELECT /* TeamMapper.getTeamById */
            team_id, location, mascot, abbreviation, game_id
        FROM team
        WHERE team_id = #{id}
    </select>

    <insert id="createTeam">
        INSERT INTO /* TeamMapper.createTeam */
            team
        (game_id, location, mascot, abbreviation)
        VALUES (
            #{gameId},
            #{location},
            #{mascot},
            #{abbreviation}
        )
    </insert>

    <update id="updateTeam">
        UPDATE /* TeamMapper.updateTeam */
            team
        SET
            location = #{location},
            mascot = #{mascot},
            abbreviation = #{abbreviation},
            game_id = #{gameId}
        WHERE team = #{teamId}
    </update>

    <delete id="deleteTeam">
        DELETE FROM /* TeamMapper.deleteTeam */
            team
        WHERE team_id = #{id}
    </delete>

</mapper>