<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AllocationMapper">

    <resultMap id="Allocation" type="com.lactaoen.ledger.model.Allocation">
        <id property="allocationId" column="allocation_id" />
        <result property="total" column="total" />
        <association property="category" column="category_id" select="CategoryMapper.getCategoryById" />
        <association property="period" column="period_id" select="PeriodMapper.getPeriodById" />
    </resultMap>

    <select id="getAllAllocations" resultMap="Allocation">
        SELECT /* AllocationMapper.getAllAllocations */
            allocation_id, period_id, category_id, total
        FROM allocation
    </select>

    <select id="getAllocationById" resultMap="Allocation">
        SELECT /* AllocationMapper.getAllocationById */
            allocation_id, period_id, category_id, total
        FROM allocation
        WHERE allocation_id = #{id}
    </select>
</mapper>