<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/lactaoen/ledger/mapper/AllocationMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/BetMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/CasinoMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/CategoryMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/DashboardMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/GameMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/PeriodMapper.xml"/>
        <mapper resource="com/lactaoen/ledger/mapper/TransactionMapper.xml"/>
    </mappers>
</configuration>