<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="header" id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-info">
        <a class="navbar-brand" href="/">
            <i class="fas fa-balance-scale"></i>
            Heath
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dashboard-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboards
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dashboard-dropdown">
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="dropdown-item" href="/">Period Dashboard</a>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/gambling' ? 'active':''}" class="dropdown-item" href="/gambling">Gambling Dashboard</a>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/sports' ? 'active':''}" class="dropdown-item" href="/sports">Gambling Dashboard</a>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/poker' ? 'active':''}" class="dropdown-item" href="/poker">Gambling Dashboard</a>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/year' ? 'active':''}" class="dropdown-item" href="/year">Year Dashboard</a>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/misc' ? 'active':''}" class="dropdown-item" href="/misc">Misc Dashboard</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/form/transaction' ? 'active':''}" href="/form/transaction">Add Transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/form/bet' ? 'active':''}" href="/form/bet">Add Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/form/period' ? 'active':''}" href="/form/period">Add Period</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>