<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="header" id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark heath-navbar">
        <a class="navbar-brand" href="/">
            <i class="fas fa-balance-scale"></i>
            Heath
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dashboard-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboards
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dashboard-dropdown">
                        <a th:classappend="${requestURI == '/' ? 'heath-active':''}" class="dropdown-item" href="/">Period Dashboard</a>
                        <a th:classappend="${requestURI == '/year' ? 'heath-active':''}" class="dropdown-item" href="/year">Year Dashboard</a>
                        <a th:classappend="${requestURI == '/gambling' ? 'heath-active':''}" class="dropdown-item" href="/gambling">Gambling Dashboard</a>
                        <a th:classappend="${requestURI == '/misc' ? 'heath-active':''}" class="dropdown-item" href="/misc">Misc Dashboard</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${requestURI == '/transaction' ? 'active':''}" href="/transaction">Add Transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${requestURI == '/bet' ? 'active':''}" href="/bet">Add Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${requestURI == '/period' ? 'active':''}" href="/period">Add Period</a>
                </li>
            </ul>
        </div>
    </nav>

    <div th:fragment="yearDropdown" class="float-right dropdown-sm">
        <select id="year-select" class="form-control form-control-sm" th:with="currPeriodId = ${year}">
            <option th:each="periodDate : ${yearsList}" th:text="${periodDate}" th:selected="${currPeriodId == periodDate}" th:attr="data-period-id=${periodDate}"></option>
        </select>
    </div>
</body>
</html>