<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlHead">
    <title>Heath</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#654ea6" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/fontawesome-all.js"></script>
    <link rel="stylesheet" href="/css/ledger.css" />
</head>
</html>