<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="header" id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark heath-navbar">
    <a class="navbar-brand" href="/library">
        <i class="fas fa-book"></i>
        도서관
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/library' ? 'active':''}" href="/library">도서관</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/library/hada' ? 'active':''}" href="/library/hada">하다</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/library/unfinished' ? 'active':''}" href="/library/unfinished">말들</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/library/book' ? 'active':''}" href="/library/book">책</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>