<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bookList(bookList, status)">
    <h4 class="text-info" th:text="${status}"></h4>
    <div class="book" th:each="book : ${bookList}">
        <div data-toggle="collapse" class="book" th:href="'#book-' + ${book.bookId}" aria-expanded="false" style="cursor:pointer"><h5 th:inline="text"><i class="fas fa-angle-right"></i> [[${book.name}]] <span class="badge badge-warning" th:if="${book.unfinishedWordCount} > 0" th:text="${book.unfinishedWordCount}"></span></h5></div>
        <div th:id="'book-' + ${book.bookId}" class="collapse chapter-list">
            <table class="table table-borderless table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">Chapter</th>
                    <th scope="col">Word Count</th>
                    <th scope="col">Read?</th>
                    <th scope="col">Ex. Done?</th>
                    <th scope="col">Ex. Added?</th>
                    <th scope="col">Todo?</th>
                </tr>
                </thead>
                <tbody th:each="chapter : ${book.chapters}">
                <tr th:classappend="${chapter.todo ? 'table-warning' : ''}">
                    <th scope="row" th:attrappend="data-toggle=${#lists.size(chapter.words) > 0} ? 'collapse', style=${#lists.size(chapter.words) > 0} ? 'cursor:pointer'" th:inline="text" th:href="'#chapter-' + ${chapter.chapterId}" aria-expanded="false">[[${chapter.name}]] <a th:href="'library/chapter/' + ${chapter.chapterId}" class="text-warning"><i class="fas fa-plus-square"></i></a></th>
                    <td><span class="badge badge-primary" th:if="${#lists.size(chapter.words)} > 0" th:text="${#lists.size(chapter.words)}"></span></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="read" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.read}?checked"></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="done" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.exerciseDone}?checked"></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="added" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.exerciseAdded}?checked"></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="todo" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.todo}?checked"></td>
                </tr>
                <tr th:id="'chapter-' + ${chapter.chapterId}" class="collapse">
                    <td colspan="6" style="padding-left:2em">
                        <div th:each="word : ${chapter.words}">
                            <input class="form-check-input" type="checkbox" name="wordIds" th:id="'word-checkbox-' + ${word.wordId}" th:value="${word.wordId}">
                            <label class="form-check-label" th:attr="for='word-checkbox-' + ${word.wordId}" th:text="${word.value}"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="collapse" data-parent="#book-list" th:id="'book-' + ${book.bookId}">
            <li th:each="chapter : ${book.chapters}" th:text="${chapter.name}"></li>
        </ul>
    </div>
    <br />
</div>

<div th:fragment="bookListHada(bookList)">
    <div class="book" th:each="book : ${bookList}">
        <div data-toggle="collapse" class="book" th:href="'#book-' + ${book.bookId}" aria-expanded="false" style="cursor:pointer"><h5 th:inline="text"><i class="fas fa-angle-right"></i> [[${book.name}]] <span class="badge badge-warning" th:if="${book.unfinishedWordCount} > 0" th:text="${book.unfinishedWordCount}"></span></h5></div>
        <div th:id="'book-' + ${book.bookId}" class="collapse chapter-list">
            <table class="table table-borderless table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">Chapter</th>
                    <th scope="col">Word Count</th>
                    <th scope="col">Read?</th>
                    <th scope="col">Ex. Done?</th>
                    <th scope="col">Ex. Added?</th>
                    <th scope="col">Todo?</th>
                </tr>
                </thead>
                <tbody th:each="chapter : ${book.chapters}">
                <tr th:classappend="${chapter.todo ? 'table-warning' : ''}">
                    <th scope="row" th:attrappend="data-toggle=${#lists.size(chapter.words) > 0} ? 'collapse', style=${#lists.size(chapter.words) > 0} ? 'cursor:pointer'" th:inline="text" th:href="'#chapter-' + ${chapter.chapterId}" aria-expanded="false">[[${chapter.name}]] <a th:href="'chapter/' + ${chapter.chapterId}" class="text-warning"><i class="fas fa-plus-square"></i></a></th>
                    <td><span class="badge badge-primary" th:if="${#lists.size(chapter.words)} > 0" th:text="${#lists.size(chapter.words)}"></span></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="read" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.read}?checked"></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="done" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.exerciseDone}?checked"></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="added" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.exerciseAdded}?checked"></td>
                    <td><input class="form-check-input chapter-checkbox" type="checkbox" value="todo" th:attr="data-chapter-id=${chapter.chapterId}" th:attrappend="checked=${chapter.todo}?checked"></td>
                </tr>
                <tr th:id="'chapter-' + ${chapter.chapterId}" class="collapse">
                    <td colspan="6" style="padding-left:2em">
                        <div th:each="word : ${chapter.words}">
                            <input class="form-check-input" type="checkbox" name="wordIds" th:id="'word-checkbox-' + ${word.wordId}" th:value="${word.wordId}">
                            <label class="form-check-label" th:attr="for='word-checkbox-' + ${word.wordId}" th:text="${word.value}"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="collapse" data-parent="#book-list" th:id="'book-' + ${book.bookId}">
            <li th:each="chapter : ${book.chapters}" th:text="${chapter.name}"></li>
        </ul>
    </div>
    <br />
</div>
</html>