<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="scripts">
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/chart.min.js"></script>
        <script>
            Date.prototype.toDateInputValue = (function() {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0,10);
            });

            $('document').ready(function() {
                $('#date').val(new Date().toDateInputValue());

                addDividersToDashboardTables();
            });

            /*<![CDATA[*/
            function addDividersToDashboardTables() {
                var rows = $('#period-dashboard .dashboard-table tbody tr');
                var lastParentCatId = '1';

                for (var i = 0; i < rows.length; i++) {
                    var currentParentCatId = $(rows[i]).attr('data-parent-cat-id');

                    if (lastParentCatId !== currentParentCatId) {
                        $(rows[i]).find('td').css('border-top', '2px solid #e9ecef');
                    }

                    lastParentCatId = currentParentCatId;
                }
            }
            /*]]>*/
        </script>
    </div>
</body>
</html>