<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="scripts">
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/chart.min.js"></script>
        <script>
            Date.prototype.toDateInputValue = (function() {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0,10);
            });

            $('document').ready(function() {
                // change to today's date only if it's empty
                var $date = $('#date');
                if ($date.val() === '') {
                    $date.val(new Date().toDateInputValue());
                }

                addDividersToDashboardTables();
                alterPeriodForm();
            });

            /*<![CDATA[*/
            function addDividersToDashboardTables() {
                var rows = $('#period-dashboard .dashboard-table tbody tr, #year-dashboard .dashboard-table tbody tr, #category-fields tbody tr');
                var lastParentCatId = '1';

                for (var i = 0; i < rows.length; i++) {
                    var currentParentCatId = $(rows[i]).attr('data-parent-cat-id');

                    if (lastParentCatId !== currentParentCatId) {
                        $(rows[i]).find('td').css('border-top', '2px solid #e9ecef');
                    }

                    lastParentCatId = currentParentCatId;
                }
            }
            /*]]>*/

            function alterPeriodForm() {
                $('#category-fields .delete-category-btn').click(function() {
                    var parentTr = $(this).parent().parent();
                    $(parentTr).find('input[type="number"]').attr('value', '-1').val(-1);
                    $(parentTr).hide();
                });
            }

            function initializeDoughnut(map) {
                var dataVals = [];
                var dataNames = [];

                map.forEach(function(entry) {
                    dataVals.push(entry.total);
                    dataNames.push(entry.name);
                });

                var data = {
                    datasets: [{
                        data: dataVals,
                        backgroundColor: [
                            '#654ea6',
                            '#d93327',
                            '#f7b733',
                            '#4abdac',
                            '#3c7ad6'
                        ]
                    }],
                    labels: dataNames
                };

                var ctx = document.getElementById('pieChart');
                var myDoughnutChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: data,
                    options: {
                        animation: {
                            animateRotate: true
                        },
                        cutoutPercentage: 60,
                        legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    //get the concerned dataset
                                    var dataset = data.datasets[tooltipItem.datasetIndex];

                                    //calculate the total of this data set
                                    var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                        return previousValue + currentValue;
                                    });

                                    //get the current items value
                                    var currentValue = dataset.data[tooltipItem.index];
                                    var percentage = ((currentValue/total) * 100).toFixed(2);

                                    return data.labels[tooltipItem.index] + ': $' + currentValue.toLocaleString('EN-US') + ' (' + percentage + '%)';
                                }
                            },
                            bodyFontFamily: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
                            bodyFontSize: 16
                        }
                    }
                });
            }
        </script>
    </div>
</body>
</html>