<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">

    <div th:replace="fragments/flash :: flash"></div>

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Gambling <small class="text-muted" th:text="${year}"></small></h1>
        </div>
    </div>

    <!-- Period -->
    <div id="gambling-dashboard">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="chartable">
                    <canvas id="monthGraph"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="chartable">
                    <canvas id="weekGraph"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="dashboard-table table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Game</th>
                            <th scope="col">Record</th>
                            <th scope="col">Win%</th>
                            <th scope="col">Wagered</th>
                            <th scope="col" title="Wagered per Session">W/S</th>
                            <th scope="col">Profit</th>
                            <th scope="col" title="Profit per Session">P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="game : ${gameGambling}" th:attr="data-game-id=${game.id}" th:with="losses=${game.sessions - game.wins - game.ties},sessions=${game.sessions > 0} ? ${game.sessions} : 1.0,profit=${game.profit}?:0">
                            <td th:text="${game.name}" th:class="font-weight-bold"></td>
                            <td th:text="|${game.wins}-${losses}-${game.ties}|"></td>
                            <td th:text="|${#numbers.formatDecimal((game.wins + (game.ties / 2.0)) / sessions,0,'COMMA',3,'POINT')}|"></td>
                            <td th:text="|$${#numbers.formatDecimal(game.wagered,1,'COMMA',2,'POINT')}|"></td>
                            <td th:text="|$${#numbers.formatDecimal(game.wagered / sessions,1,'COMMA',2,'POINT')}|"></td>
                            <td th:text="${profit >= 0} ? |$${#numbers.formatDecimal(profit,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((profit * -1),1,'COMMA',2,'POINT')}|" class="font-weight-bold" th:classappend="${0 > profit} ? 'text-danger'"></td>
                            <td th:text="${profit >= 0} ? |$${#numbers.formatDecimal(profit / sessions,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((profit / sessions * -1),1,'COMMA',2,'POINT')}|" th:classappend="${0 > profit} ? 'text-danger'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
<script>

        $(document).ready(function() {
            addTotalDivider();
            drawGraph('/api/graph/gambling/week', 'weekGraph', 'By Week');
            drawGraph('/api/graph/gambling/month', 'monthGraph', 'By Month');
        });

        function drawGraph(url, selector, title) {
            var year = new URLSearchParams(new URL(window.location.href).search).get('year');

            if (year !== null) {
                url = url + '?year=' + year;
            }

            // Set up poker graph
            $.ajax({
                url: url,
                dataType: 'json',
                method: 'GET',
                success: function(data) {
                    var ctx = document.getElementById(selector);
                    var lineGraph = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            datasets: [{
                                data: data.sportsBetData,
                                label: 'Sports Betting',
                                backgroundColor: 'rgba(23, 58, 146, 0.9)'
                            }, {
                                data: data.pokerData,
                                label: 'Poker',
                                backgroundColor: 'rgba(247, 183, 51, 0.9)'
                            }, {
                                data: data.otherData,
                                label: 'Other',
                                backgroundColor: 'rgba(118, 70, 143, 0.9)'
                            }, {
                                type: 'line',
                                data: data.overallData,
                                fill: false,
                                label: 'Profit',
                                borderColor: 'rgba(74, 189, 172, 1)',
                                pointBackgroundColor: 'rgba(74, 189, 172, 1)'
                            }],
                            labels: data.labels
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                position: 'bottom'
                            },
                            title: {
                                display: true,
                                fontFamily: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
                                color: 'rgba(80, 81, 79, 1)',
                                fontSize: 16,
                                text: title
                            },
                            scales: {
                                xAxes: [{
                                    stacked: true
                                }],
                                yAxes: [{
                                    stacked: true,
                                    ticks: {
                                        callback: function(value, index, values) {
                                            var prefix = '';

                                            if (0 > value) {
                                                prefix = '-';
                                            }

                                            return prefix + '$' + Math.abs(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        }
                                    }
                                }]
                            }
                        }
                    });
                }
            });
        }

        function addTotalDivider() {
            var lastRow = $('.dashboard-table tbody tr:last');
            $(lastRow).css('font-weight', 'bold');
            $(lastRow).find('td').css('border-top', '2px solid #e9ecef');
        }

    </script>
</body>
</html>
