<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">

    <div th:replace="fragments/flash :: flash"></div>

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard <small class="text-muted" th:text="${year}"></small></h1>
        </div>
    </div>

    <!-- Period -->
    <div id="gambling-dashboard">
        <div class="row">
            <div class="col-md-12">
                <table class="dashboard-table table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Record</th>
                        <th scope="col">Win%</th>
                        <th scope="col">Wagered</th>
                        <th scope="col" title="Wagered per Session">W/S</th>
                        <th scope="col">Profit</th>
                        <th scope="col" title="Profit per Session">P/S</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="game : ${gameGambling}" th:attr="data-game-id=${game.id}" th:with="losses=${game.sessions - game.wins - game.ties},sessions=${game.sessions > 0} ? ${game.sessions} : 1.0,profit=${game.profit}?:0">
                        <td th:text="${game.name}" th:class="font-weight-bold"></td>
                        <td th:text="|${game.wins}-${losses}-${game.ties}|"></td>
                        <td th:text="|${#numbers.formatDecimal((game.wins + (game.ties / 2.0)) / sessions,0,'COMMA',3,'POINT')}|"></td>
                        <td th:text="|$${#numbers.formatDecimal(game.wagered,1,'COMMA',2,'POINT')}|"></td>
                        <td th:text="|$${#numbers.formatDecimal(game.wagered / sessions,1,'COMMA',2,'POINT')}|"></td>
                        <td th:text="${profit >= 0} ? |$${#numbers.formatDecimal(profit,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((profit * -1),1,'COMMA',2,'POINT')}|" class="font-weight-bold" th:classappend="${0 > profit} ? 'text-danger'"></td>
                        <td th:text="${profit >= 0} ? |$${#numbers.formatDecimal(profit / sessions,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((profit / sessions * -1),1,'COMMA',2,'POINT')}|" th:classappend="${0 > profit} ? 'text-danger'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
<script>

        $(document).ready(function() {

            // Click listener for filtering transactions by category
            $('#year-dashboard td[data-category-id]').on('click', function(e) {
                var categoryId = $(this).attr('data-category-id');

                if (categoryId === '0') {
                    $('#transaction-header').text('All Transactions');
                    $('#transaction-dashboard tbody tr').show();
                } else {
                    $('#transaction-header').text($(this).text() + ' Transactions');
                    $('#transaction-dashboard tbody tr').hide();
                    $('#transaction-dashboard tr[data-category-id="' + categoryId + '"]').show();
                }
            });

            var year = new URLSearchParams(new URL(window.location.href).search).get('year');
            var url = '/api/dashboard/year';

            if (year !== null) {
                url = url + '?year=' + year;
            }

            // Set up doughnut chart
            $.ajax({
                url: url,
                dataType: 'json',
                method: 'GET',
                success: function(map) {
                    initializeDoughnut(map);
                }
            });
        });

    </script>
</body>
</html>
