<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">

    <div th:replace="fragments/flash :: flash"></div>

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Sports Betting <small class="text-muted" th:text="${year}"></small></h1>
        </div>
    </div>

    <!-- Period -->
    <div id="gambling-dashboard">
        <div class="row">
            <div class="col-md-12">
                <table class="dashboard-table table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Record</th>
                        <th scope="col">Win%</th>
                        <th scope="col">Wagered</th>
                        <th scope="col" title="Wagered per Session">W/S</th>
                        <th scope="col">Profit</th>
                        <th scope="col" title="Profit per Session">P/S</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="game : ${games}" th:attr="data-game-id=${game.id}" th:with="losses=${game.sessions - game.wins - game.ties},sessions=${game.sessions > 0} ? ${game.sessions} : 1.0,profit=${game.profit}?:0">
                        <td th:text="${game.name}" th:class="font-weight-bold"></td>
                        <td th:text="|${game.wins}-${losses}-${game.ties}|"></td>
                        <td th:text="|${#numbers.formatDecimal((game.wins + (game.ties / 2.0)) / sessions,0,'COMMA',3,'POINT')}|"></td>
                        <td th:text="|$${#numbers.formatDecimal(game.wagered,1,'COMMA',2,'POINT')}|"></td>
                        <td th:text="|$${#numbers.formatDecimal(game.wagered / sessions,1,'COMMA',2,'POINT')}|"></td>
                        <td th:text="${profit >= 0} ? |$${#numbers.formatDecimal(profit,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((profit * -1),1,'COMMA',2,'POINT')}|" class="font-weight-bold" th:classappend="${0 > profit} ? 'text-danger'"></td>
                        <td th:text="${profit >= 0} ? |$${#numbers.formatDecimal(profit / sessions,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((profit / sessions * -1),1,'COMMA',2,'POINT')}|" th:classappend="${0 > profit} ? 'text-danger'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Unresolved Bets -->
    <div id="unresolved-bet-dashboard">
        <div class="row">
            <div class="col-md-12">
                <table class="dashboard-table table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Game</th>
                        <th scope="col">Bet</th>
                        <th scope="col">Wagered</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bet : ${unresolved}" th:attr="data-bet-id=${bet.betId}">
                        <td th:text="|${#dates.monthNameShort(bet.date)} ${#dates.day(bet.date)}|"></td>
                        <td th:text="${bet.game.name}" th:class="font-weight-bold"></td>
                        <td th:text="${bet.sportsBetDescriptor}"></td>
                        <td th:text="|$${#numbers.formatDecimal(bet.wager,1,'COMMA',2,'POINT')}|"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a th:href="|/api/bet/win/${bet.betId}|" role="button" class="btn btn-info win-btn">Win</a>
                                <a th:href="|/api/bet/loss/${bet.betId}|" role="button" class="btn btn-danger loss-btn">Loss</a>
                                <a th:href="|/form/bet/${bet.betId}|" role="button" class="btn btn-dark edit-btn">Edit</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
