.container, .container-fluid {
    padding-top: 75px;
}

#navbar {
    font-size: 1.2rem;
}

.dashboard-table {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
}

.dashboard-table td, .dashboard-table th {
    border-top: none !important;
    padding: .2rem;
}

.progress {
    height: 25px !important;
}