<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
  <div th:replace="fragments/flash :: flash"></div>
  <h1 th:text="${betForm.betId} ? 'Edit Bet' : 'Add Bet'"></h1>
  <div class="form-group">
    <label>Template</label>
    <select id="template-select" class="form-control">
      <option th:value="''"></option>
      <option th:each="templateName : ${templateNames}" th:text="${templateName}" th:value="${templateName}"></option>
    </select>
  </div>
  <hr/>
  <form action="#" th:action=" @{/bet}" th:object="${betForm}" method="post">
    <div class="form-group">
      <input th:field="*{betId}" type="hidden" class="form-control" />
    </div>
    <div class="form-group">
      <label>Date</label>
      <input th:field="*{date}" th:required="true" type="date" class="form-control" />
    </div>
    <div class="form-group">
      <label>Game</label>
      <select th:field="*{gameName}" th:required="true" class="form-control">
        <option th:value="''"></option>
        <option th:each="game : ${games}" th:value="${game.name}" th:text="${game.parent == 'None'} ? ${game.name} : |${game.parent} > ${game.name}|"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Casino</label>
        <select th:field="*{casino}" th:required="true" class="form-control">
          <option value=""></option>
          <option value="4 Queens">4 Queens</option>
          <option value="Binion's">Binion's</option>
          <option value="California">California</option>
          <option value="Golden Nugget">Golden Nugget</option>
          <option value="Horseshoe Casino">Horseshoe Casino</option>
          <option value="Main Street Casino">Main Street Station</option>
          <option value="Orleans">Orleans</option>
          <option value="Planet Hollywood">Planet Hollywood</option>
          <option value="Red Rock">Red Rock</option>
          <option value="Rio">Rio</option>
          <option value="Suncoast Casino">Suncoast Casino</option>
          <option value="The Bicycle">The Bicycle</option>
          <option value="Venetian">Venetian</option>
          <option value="William Hill Mobile">William Hill Mobile</option>
          <option value="Wynn">Wynn</option>
        </select>
    </div>
    <div class="form-group">
      <label>Wager</label>
      <input th:field="*{wager}" th:required="true" type="number" step=".01" class="form-control" />
    </div>
    <div class="form-group">
      <label>Profit</label>
      <div class="input-group mb-3">
        <input th:field="*{profit}" type="number" step=".01" class="form-control" />
        <div class="input-group-append">
          <button id="negative-button" class="btn btn-group-btn negative-button" type="button">-</button>
          <button id="get-wrecked-button" class="btn btn-group-btn" type="button">Loss</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Memo</label>
      <input th:field="*{memo}" type="text" class="form-control" />
    </div>
    <div th:attr="hidden=${isSport == false} ? 'hidden'" id="sports-fields">
      <div class="row">
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
          <label>Odds</label>
          <div class="input-group mb-3">
            <input th:field="*{odds}" type="number" step="1" class="form-control sports-bet-field" />
            <div class="input-group-append">
              <button class="btn btn-group-btn negative-button" type="button">-</button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
          <label>Line</label>
          <div class="input-group mb-3">
            <input th:field="*{line}" type="number" step="0.5" class="form-control sports-bet-field" />
            <div class="input-group-append">
              <button class="btn btn-group-btn negative-button" type="button">-</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>For Team</label>
          <select th:field="*{forTeamLocation}" class="form-control sports-bet-field">
            <option th:value="''"></option>
            <option th:each="team : ${teams}" th:value="${team.location}" th:attr="data-mascot=${team.mascot}" th:text="|${team.abbreviation} - ${team.location} ${team.mascot}|"></option>
          </select>
          <input th:field="*{forTeamMascot}" type="hidden" class="form-control sports-bet-field" />
        </div>
        <div class="form-group col-md-6">
          <label>Against Team</label>
          <select th:field="*{againstTeamLocation}" class="form-control sports-bet-field">
            <option th:value="''"></option>
            <option th:each="team : ${teams}" th:value="${team.location}" th:attr="data-mascot=${team.mascot}" th:text="|${team.abbreviation} - ${team.location} ${team.mascot}|"></option>
          </select>
          <input th:field="*{againstTeamMascot}" type="hidden" class="form-control sports-bet-field" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
          <label>Sports Bet Type</label>
          <select th:field="*{betType}" th:required="${isSport}" class="form-control sports-bet-field">
            <option value=""></option>
            <option value="Points">Points</option>
            <option value="Moneyline">Moneyline</option>
            <option value="Over">Over</option>
            <option value="Under">Under</option>
            <option value="Prop">Prop</option>
            <option value="Parlay">Parlay</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
          <label>Game Type</label>
          <select th:field="*{gameType}" th:required="${isSport}" class="form-control sports-bet-field">
            <option value=""></option>
            <option value="Full">Full</option>
            <option value="Half">Half</option>
            <option value="Quarter">Quarter</option>
            <option value="Period">Period</option>
            <option value="First 5 Innings">First 5 Innings</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input th:field="*{live}" class="form-check-input sports-bet-field" type="checkbox" />
        <label class="form-check-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Live</label>
      </div>
    </div>
    <button type="submit" class="btn btn-lg heath-secondary-button">Submit</button>
  </form>
</div>
<div th:replace="fragments/scripts :: scripts"></div>

<script th:inline="javascript">
  /*<![CDATA[*/

    var contextRoot = /*[[@{/}]]*/ '';
    var templates = [[${templates}]];

  /*]]>*/

  function expandIfSportsBetting() {
    var game = $('#gameName option:selected').text();
    var gameId = $('#gameName option:selected').val();

    if (game.startsWith('Sports Betting')) {

      var fields = $('#forTeamLocation, #againstTeamLocation');

      $.ajax({
        url: contextRoot + 'team/list?game=' + gameId,
        method: 'GET',
        dataType: 'json',
        success: function(data) {

          $(fields).children('option').remove();
          $(fields).append('<option></option>');

          $.each(data, function(index, team) {
            var teamOption = document.createElement('option');
            teamOption.value = team.location;
            teamOption.setAttribute('data-mascot', team.mascot);
            teamOption.innerText = team.abbreviation + ' - ' + team.location + ' ' + team.mascot;

            $(fields).append(teamOption);
          });

          $('.sports-bet-field').removeAttr('disabled');
          $('#sports-fields').removeAttr('hidden');
          $('#betType, #odds').attr('required', 'required');
        }
      });
    } else {
      $('.sports-bet-field').removeAttr('required').attr('disabled','disabled');
      $('#sports-fields').attr('hidden', 'hidden');
      $(fields).children('option').remove();
    }
  }

  $(document).ready(function() {

    $('#againstTeamLocation').on('change', function() {
      var mascot = $(this).children("option:selected").attr('data-mascot');
      document.getElementById('againstTeamMascot').value = mascot;
    });

    $('#forTeamLocation').on('change', function() {
      var mascot = $(this).children("option:selected").attr('data-mascot');
      document.getElementById('forTeamMascot').value = mascot;
    });

    $('#gameName').on('change', expandIfSportsBetting);

    $('#template-select').on('change', function() {
      var selectedTemplate = templates[this.value];
      if (selectedTemplate.game) {
        document.querySelector('#gameName option[value="' + selectedTemplate.game + '"]').selected = true
      }
      if (selectedTemplate.casino) {
        document.querySelector('#casino option[value="' + selectedTemplate.casino + '"]').selected = true
      }

      expandIfSportsBetting();

      if (selectedTemplate.odds) {
        document.getElementById('odds').value = selectedTemplate.odds;
      }
      if (selectedTemplate.sportsBetType) {
        document.querySelector('#betType option[value="' + selectedTemplate.sportsBetType + '"]').selected = true
      }
      if (selectedTemplate.gameType) {
        document.querySelector('#gameType option[value="' + selectedTemplate.gameType + '"]').selected = true
      }
      if (selectedTemplate.line !== undefined) {
        document.getElementById('line').value = selectedTemplate.line;
      }
    });

    $('#negative-button').on('click', function(e) {
      var input = $(this).parent().siblings('input').eq(0);
      var inputVal = $(input).val();

      if (!inputVal.startsWith('-')) {
        var newInputVal = '-' + $(input).val();
        $(input).text(newInputVal).val(newInputVal);
      }
    });

    $('#get-wrecked-button').on('click', function(e) {
      var wager = document.getElementById('wager').value;
      var input = $(this).parent().siblings('input').eq(0);
      var newInputVal = '-' + wager;
      $(input).text(newInputVal).val(newInputVal);
    });
  });
</script>
</body>
</html>