<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead">
    <title>도서관</title>
</head>
<body>
<div th:replace="fragments/libraryheader :: header"></div>
<div class="container">

    <div th:replace="fragments/flash :: flash"></div>

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>하다</h1>
        </div>
    </div>

    <button id="done-btn" type="button" class="btn btn-info">Mark Checked As Done</button>
    <br />
    <div th:replace="fragments/library :: bookListHada(${books})"></div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>

        $('.chapter-list').collapse('show');
        $('.fa-angle-right').addClass('arrow-down');

        $('#done-btn').on('click', function() {
            var wordIds = $('[name="wordIds"]:checked');

            if (wordIds.length === 0) {
                return;
            }

            var isConfirmed = confirm('This will mark ' + wordIds.length + ' words as done. Continue?');

            if (isConfirmed) {
                var ids = [];

                for (var i = 0; i < wordIds.length; i++) {
                    ids.push(wordIds[i].value);
                }

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: window.location.origin + '/library/word/batch',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(ids),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    method: 'PUT',
                    success: function(isSuccessful) {
                        location = location;
                    },
                    error: function() {
                        alert("There was an error. Please try again");
                    }
                });
            }
        });

        $('.book').on('show.bs.collapse', function() {
            $(this).find('.fa-angle-right').addClass('arrow-down');
        });

        $('.book').on('hidden.bs.collapse', function() {
            var $this = $(this);

            if ($this.find('.book[aria-expanded="true"]').length > 0) {
                return;
            }
            $(this).find('.fa-angle-right').removeClass('arrow-down');
        });

        $('.chapter-checkbox').on('change', function() {
            var $this = $(this);
            var isChecked = $this.is(':checked');
            var isTodo = $this.val() === 'todo';

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var request = {};
            request.chapterId = $this.attr('data-chapter-id');
            request.field = $this.val();
            request.value = isChecked;

            $.ajax({
                url: window.location.origin + '/library/chapter',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(request),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                method: 'POST',
                success: function(isSuccessful) {
                    if (!isSuccessful) {
                        $this.prop('checked', !isChecked);
                        alert("Couldn't update chapter");
                    } else {
                        if (isTodo) {
                            if (isChecked) {
                                $this.parents('tr').addClass('table-warning');
                            } else {
                                $this.parents('tr').removeClass('table-warning');
                            }
                        }
                    }
                },
                error: function() {
                    $this.prop('checked', !isChecked);
                    alert("Couldn't update chapter due to error");
                }
            });
        });
    </script>
</div>
</body>
</html>