<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead"></head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container-fluid" th:attr="data-period-id=${period.periodId}">

        <div th:replace="fragments/flash :: flash"></div>

        <!-- Header -->
        <div class="row">
            <div class="col-md-6">
                <h1>Dashboard <small class="text-muted" th:text="|${#calendars.format(period.startDate, 'MMM d')} - ${#calendars.format(period.endDate, 'MMM d')}|"></small></h1>
            </div>
            <div class="col-md-6 text-right">
                <h1 th:text="|$${#numbers.formatDecimal(period.total,1,'COMMA',2,'POINT')}|"></h1>
            </div>
        </div>

        <!-- Period -->
        <div id="period-dashboard">
            <div class="row">
                <div class="col-md-8">
                    <table class="dashboard-table table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Allocated</th>
                            <th scope="col">Spent</th>
                            <th scope="col">Remaining</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="allocation : ${period.allocationList}" th:with="remaining = ${allocation.total} - ${allocation.spent}" th:attr="data-parent-cat-id=${allocation.category.parentCategory.categoryId}">
                            <td th:text="${allocation.category.name}" th:class="font-weight-bold" th:style="|color:${allocation.category.parentCategory.color}|"></td>
                            <td th:text="|$${#numbers.formatDecimal(allocation.total,1,'COMMA',2,'POINT')}|">
                                <span>Hello</span>
                            </td>
                            <td th:text="|$${#numbers.formatDecimal(allocation.spent,1,'COMMA',2,'POINT')}|"></td>
                            <td th:text="${remaining} >= 0 ? |$${#numbers.formatDecimal(remaining,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((remaining * -1),1,'COMMA',2,'POINT')}|" th:class="${remaining} >= 0 ? (${remaining == 0} ? 'font-weight-bold text-muted' : 'font-weight-bold') : 'font-weight-bold text-danger'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:with="spentPercent = (${period.spent} / ${period.total}) * 100" class="col-md-4">
                    <h5 th:text="|Spent this period: $${#numbers.formatDecimal(period.spent,1,'COMMA',2,'POINT')} (${#numbers.formatDecimal(spentPercent,1,'COMMA',2,'POINT')}%)|"></h5>
                    <div class="progress">
                        <div th:style="|width:${spentPercent}%|" th:attr="aria-valuenow=${spentPercent}" class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <canvas id="myChart" width="200px" height="200px"></canvas>
                </div>
            </div>
        </div>

        <!-- Transactions -->
        <div id="transaction-dashboard">
            <h3>Transactions</h3>
            <table class="dashboard-table table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Subcategory</th>
                    <th scope="col">Price</th>
                    <th scope="col">Memo</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="transaction : ${period.transactionList}" th:with="date = ${transaction.date}">
                        <td th:text="|${#dates.monthNameShort(date)} ${#dates.day(date)}|"></td>
                        <td th:text="${transaction.name}"></td>
                        <td th:text="${transaction.category.name}" th:class="font-weight-bold" th:style="|color:${transaction.category.parentCategory.color}|"></td>
                        <td th:text="${transaction.subcategory} ? ${transaction.subcategory.name} : ''"></td>
                        <td th:text="${transaction.price} >= 0 ? |$${#numbers.formatDecimal(transaction.price,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((transaction.price * -1),1,'COMMA',2,'POINT')}|"></td>
                        <td th:text="${transaction.memo}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script>

        $.ajax({
            url: '/api/dashboard/period/' + $('.container-fluid').attr('data-period-id'),
            dataType: 'json',
            method: 'GET',
            success: function(map) {
                initializeDoughnut(map);
            }
        });

        function initializeDoughnut(map) {
            var dataVals = [];
            var dataNames = [];

            map.forEach(function(entry) {
                dataVals.push(entry.total);
                dataNames.push(entry.name);
            });

            var data = {
                datasets: [{
                    data: dataVals,
                    backgroundColor: [
                        '#76468f',
                        '#fc4a1a',
                        '#f7b733',
                        '#4abdac',
                        '#173a92'
                    ]
                }],
                labels: dataNames
            };

            var ctx = document.getElementById('myChart');
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    cutoutPercentage: 60,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                //get the concerned dataset
                                var dataset = data.datasets[tooltipItem.datasetIndex];

                                //calculate the total of this data set
                                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                    return previousValue + currentValue;
                                });

                                //get the current items value
                                var currentValue = dataset.data[tooltipItem.index];
                                var percentage = ((currentValue/total) * 100).toFixed(2);

                                return data.labels[tooltipItem.index] + ': $' + currentValue + ' (' + percentage + '%)';
                            }
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>