<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/htmlHead :: htmlHead}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container-fluid">

  <!-- Header -->
  <div class="row">
    <div class="col-md-10">
      <h1>[[${sport}]] <small class="text-muted" th:text="${year}"></small></h1>
    </div>
    <div class="col-md-2">
      <div class="float-right dropdown-sm">
        <select id="years-select" class="form-control form-control-sm" th:with="selectedYear = ${year}">
          <option th:each="yearOption : ${yearsList}" th:text="${yearOption}" th:selected="${yearOption == selectedYear}"></option>
        </select>
      </div>
    </div>
  </div>

  <!-- Period -->
  <div id="sport-dashboard">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table data-toggle="table" data-classes="dashboard-table table table-sm table-hover">
            <thead>
            <tr>
              <th data-sortable="true" scope="col">Team</th>
              <th data-sortable="true" data-sorter="numericOnly" data-sort-order="desc" scope="col">Wagered</th>
              <th data-sortable="true" data-sorter="numericOnlyWithNegatives" data-sort-order="desc" scope="col">Profit</th>
              <th data-sortable="true" data-sort-order="desc" scope="col">Bets For</th>
              <th data-sortable="true" data-sort-order="desc" scope="col">Bets Against</th>
              <th data-sortable="true" data-sorter="winPercentage" data-sort-order="desc" scope="col">For</th>
              <th data-sortable="true" data-sorter="winPercentage" data-sort-order="desc" scope="col">Against</th>
              <th data-sortable="true" data-sorter="winPercentage" data-sort-order="desc" scope="col">Over</th>
              <th data-sortable="true" data-sorter="winPercentage" data-sort-order="desc" scope="col">Under</th>
              <th data-sortable="true" data-sorter="winPercentage" data-sort-order="desc" scope="col">Moneyline</th>
              <th data-sortable="true" data-sorter="winPercentage" data-sort-order="desc" scope="col">Points</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stat : ${stats}">
              <td th:text="|${stat.team.location} ${stat.team.mascot}|" th:class="font-weight-bold"></td>
              <td th:text="|$${#numbers.formatDecimal(stat.wagered,1,'COMMA',2,'POINT')}|" class="dollar-value"></td>
              <td th:text="${stat.profit} >= 0 ? |$${#numbers.formatDecimal(stat.profit,1,'COMMA',2,'POINT')}| : |-$${#numbers.formatDecimal((stat.profit * -1),1,'COMMA',2,'POINT')}|" th:classappend="${stat.profit} >= 0 ? (${stat.profit} == 0 ? 'text-muted' : '') : 'text-danger'" class="font-weight-bold dollar-value"></td>
              <td th:text="${stat.forBetCount}"></td>
              <td th:text="${stat.againstBetCount}"></td>
              <td th:text="|${stat.forStats.wins}-${stat.forStats.losses}-${stat.forStats.ties}|"></td>
              <td th:text="|${stat.againstStats.wins}-${stat.againstStats.losses}-${stat.againstStats.ties}|"></td>
              <td th:text="|${stat.overStats.wins}-${stat.overStats.losses}-${stat.overStats.ties}|"></td>
              <td th:text="|${stat.underStats.wins}-${stat.underStats.losses}-${stat.underStats.ties}|"></td>
              <td th:text="|${stat.moneylineStats.wins}-${stat.moneylineStats.losses}-${stat.moneylineStats.ties}|"></td>
              <td th:text="|${stat.pointsStats.wins}-${stat.pointsStats.losses}-${stat.pointsStats.ties}|"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
<script th:inline="javascript">
  /*<![CDATA[*/

    var contextRoot = /*[[@{/}]]*/ '';

  /*]]>*/

  $(document).ready(function() {

    $('#years-select').on('change', function(e) {
      var year = $(this).find('option:selected').val();
      var sport = new URLSearchParams(document.location.search.substring(1)).get('sport');
      window.location = '?sport=' + sport + '&year=' + year;
    });

  });
</script>
</body>
</html>
