<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/htmlHead :: htmlHead}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
  <div th:replace="~{fragments/flash :: flash}"></div>
  <h1 th:text="${transactionForm.transactionId} ? 'Edit Transaction' : 'Add Transaction'"></h1>
  <div class="form-group">
    <label>Template</label>
    <select id="template-select" class="form-control">
      <option th:value="''"></option>
      <option th:each="templateName : ${templateNames}" th:text="${templateName}" th:value="${templateName}"></option>
    </select>
  </div>
  <hr/>
  <form action="#" th:action="@{/transaction}" th:object="${transactionForm}" method="post">
    <div class="form-group">
      <label>Date</label>
      <input th:field="*{date}" th:required="true" type="date" class="form-control" />
    </div>
    <div class="form-group">
      <label>Name</label>
      <input th:field="*{name}" th:required="true" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Price</label>
      <input th:field="*{price}" th:required="true" type="number" step=".01" class="form-control" />
    </div>
    <div class="form-group">
      <label>Category</label>
      <select th:field="*{category}" th:required="true" class="form-control">
        <option th:value="''"></option>
        <option th:each="category : ${categories}" th:value="${category.name}" th:text="|${category.name} &gt; ${category.parent}|"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Subcategory</label>
      <select th:field="*{subcategory}" class="form-control">
        <option th:value="''"></option>
        <option th:each="category : ${categories}" th:value="${category.name}" th:text="|${category.name} &gt; ${category.parent}|"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Memo</label>
      <input th:field="*{memo}" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <input th:field="*{transactionId}" type="hidden" class="form-control" />
    </div>
    <button type="submit" class="btn btn-lg heath-secondary-button">Submit</button>
  </form>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
<script th:inline="javascript">
  /*<![CDATA[*/
    var templates = [[${templates}]];
  /*]]>*/

  $('#template-select').on('change', function() {
    var selectedTemplate = templates[this.value];
    if (selectedTemplate.name) {
      document.getElementById('name').value = selectedTemplate.name;
    }
    if (selectedTemplate.price) {
      document.getElementById('price').value = selectedTemplate.price;
    }
    if (selectedTemplate.category) {
      document.querySelector('#category option[value="' + selectedTemplate.category + '"]').selected = true
    }
  });

  $('#name').on('change', function() {
    var name = this.value;
    $.ajax({
      url: '/transaction/' + name,
      method: 'GET',
      success: function(categoryName) {
        $('#category option[value="' + categoryName + '"]').prop('selected', true);
      }
    });
  });
</script>
</body>
</html>