<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead">
    <title>도서관</title>
</head>
<body>
<div th:replace="fragments/libraryheader :: header"></div>
<div class="container">

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1 th:inline="text">말들 <span class="badge badge-warning" th:text="${#lists.size(words)}"></span></h1>
        </div>
    </div>

    <button id="done-btn" type="button" class="btn btn-info">Mark Checked As Done</button>
    <br />
    <table class="table table-borderless table-hover table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">말</th>
            <th scope="col">책</th>
            <th scope="col">장</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="word : ${words}">
            <th scope="row"><input class="form-check-input chapter-checkbox" type="checkbox" name="wordIds" th:value="${word.wordId}"></th>
            <td th:text="${word.value}"></td>
            <td th:text="${word.bookName}"></td>
            <td th:text="${word.chapterName}"></td>
        </tr>
        </tbody>
    </table>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        $('#done-btn').on('click', function() {
            var wordIds = $('[name="wordIds"]:checked');

            if (wordIds.length === 0) {
                return;
            }

            var isConfirmed = confirm('This will mark ' + wordIds.length + ' words as done. Continue?');

            if (isConfirmed) {
                var ids = [];

                for (var i = 0; i < wordIds.length; i++) {
                    ids.push(wordIds[i].value);
                }

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: window.location.origin + '/library/word/batch',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(ids),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    method: 'PUT',
                    success: function(isSuccessful) {
                        location = location;
                    },
                    error: function() {
                        alert("There was an error. Please try again");
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>